docfacto/xsddoc/ex_introduction_to_xsddoc_2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="booking" type="courseBooking">
		<xsd:annotation>
			<xsd:documentation>Course booking Schema</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="courseBooking">
		<xsd:sequence>
			<xsd:element ref="company" />
			<xsd:element ref="student" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="courseReference" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Course reference number</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="courseDate" type="xsd:date" use="required">
			<xsd:annotation>
				<xsd:documentation>Date of the course</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="invoiceReference" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Invoice or PO reference</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="totalPrice" type="xsd:decimal" use="required">
			<xsd:annotation>
				<xsd:documentation>The total price</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="student" type="studentType" />
	<xsd:complexType name="studentType">
		<xsd:attribute name="firstName" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>First name of the student</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="surname" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Surname of the student</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="company" type="companyType" />
	<xsd:complexType name="companyType">
		<xsd:sequence>
			<xsd:element name="address" />
			<xsd:element ref="contact" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" />
	</xsd:complexType>
	<xsd:element name="contact" type="contactType" />
	<xsd:complexType name="contactType">
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Company contact name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="telephone" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Company contact phone number</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="email" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Company email contact</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>